# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build

# misc
/deprecated
.DS_Store
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

react.md

# Local Netlify / Firebase
.netlify
.firebase
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
