/* Spotify */

.spotify-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 3rem;
    padding-bottom: 2rem;
    opacity: 1;
}

.spotify-text {
    left: 0;
    font-size: 2.5rem;
    transition: color .5s linear;
    color: var(--primaryTextColor);
}

/* Mobile Devices */

@media only screen and (max-device-width: 820px) and (-webkit-min-device-pixel-ratio: 2) {

    .spotify-container {
        position: relative;
        bottom: 0;
        left: 0;
        padding-left: 0rem;
        padding-bottom: 0rem;
        padding-top: 3rem;
        opacity: 1;
    }

    .spotify-text {
        left: 0;
        font-size: 1rem;
        transition: color .5s linear;
        color: var(--primaryTextColor);
    }
    
    .spotify-image {
        height: 6rem;
        width: 22rem;
    }
}
